*.[oa]
*~
*.l[oa]
*.swp
.deps
.libs
# Ignored by 'make clean':
Makefile
/build-aux/config.h
/build-aux/stamp-h1
/config.log
/config.status
/libtool
TAGS
# Ignored by 'make distclean':
/*.tar.gz
/autoscan.log
/autom4te.cache
